# Dependencies
node_modules/

# Environment variables
.env

# Logs
*.log
logs/

# Runtime files
*.pid

# Coverage reports
coverage/

# Build folders
dist/
build/

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/
MultiVendor.code-workspace